/*start your css here*/
/* For Navigation */
#main-navbar {
  position: relative;
  overflow: hidden;
  background-color: blue;
  width: 100%;
}

#main-navbar ul {
  display: block;
  list-style-type: none;
}

#navbar-container {
  position: relative;
  float: left;
  left: 50%; 
}

#navbar-container ul {
  display: block;
  position: relative;
  right: 50%;
  margin: 0;
  padding: 0;
}

#navbar-container ul > li {
  float: left;
  padding: 10px 20px; 
}

#navbar-container a {
  text-decoration: none;
  color: #fff;
  display: block;
}

#onpage a {
  text-decoration: underline overline;
}

#navbar-container a:hover {
  background-color: #000;
}

/* For side bar */
#sidebar {
  background-color: red;
  right: 0%;
  height: 100%;
  width: 20%;
  position: fixed;
}

#sidebar ul {
  list-style-type: none;
  padding: 0;
}

#sidebar-container li > a {
  display: block;
  text-align: center;
  padding: 15px 0;
  color: #fff;
  text-decoration: none;
}

#sidebar-container a:hover {
  background-color: #000;
}